<header class="p-3 bg-dark text-white">
  <div class="container align-items-center justify-content-center">
    <div class="d-flex flex-wrap align-items-center justify-content-center">
      <a href="/" >
        <div style="width: 50px; height: 40px;">
          <img src="./assets/Imagen/Anemo.png" style="width: 40px; height: 40px;" alt="">
        </div>
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li routerLinkActive="activo"><a routerLink="/Editor" class="nav-link px-2 text-white">Inicio</a></li>
        <li routerLinkActive="activo"><a routerLink="/Reporte" class="nav-link px-2 text-white">Reportes</a></li>
      </ul>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
